// Colors
$Dred : hsl(0, 36%, 70%);
$Sred : hsl(0, 93%, 68%);
$DGred : hsl(0, 6%, 24%);
$gradient1 : linear-gradient(135deg , #ffffff, #fff5f5);
$gradient2 : linear-gradient(135deg,#f8bfbf, #ee8c8c);
// ===========================


